*{
	box-sizing: border-box;
}
h1 {
	text-align: center;
}

.row {
	width:100%;
}

p {
   border: 1px solid black;
   background-color: yellow;
   height: 150px;
   margin-right:5px;
   margin-left: 5px;
   padding: 40px 10px 5px 10px;
   overflow: hidden;
   margin-bottom: 10px;
   font-family: arial;
}
.rel {
  position: relative;
}
#p1 ,#p2 ,#p3 {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif ;
}
#p1 {
  color: purple;
  background-color: orange;
}
#p2 {
  color: brown;
  background-color: lightgreen;
}
#p3 {
  color: blue;
  background-color: violet;
}

@media (min-width: 992px) {
   .col-lg-4, .col-lg-6,  .col-lg-12 {
   	float:left;

   }	
   .col-lg-4 {width: 33%}
   .col-lg-6 {width: 50%}
   .col-lg-12 {width: 100%}

}

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-4, .col-md-6, .col-md-12 {
   	float:left;

   }	
   .col-sm-4 {width: 33%}
   .col-md-6 {width: 50%}
   .col-md-12 {width: 100%}

} 
@media (max-width: 767px) {
   .col-sm-4, .col-sm-6,  .col-sm-12 {
   	float:left;
   }	
   
   .col-sm-4 {width: 33%}
   .col-sm-6 {width: 50%}
   .col-sm-12 {width: 100%}

}